@font-face {
    font-family: "TiroKannada";
    src: url("/public/assets/fonts/TiroKannada-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TiroKannada";
    src: url("/public/assets/fonts/TiroKannada-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Set dark background for the entire page */
html,
body {
    background-color: #111;
    margin: 0;
    padding: 0;
}

@layer utilities {
    @variants responsive {
        html {
            scroll-behavior: smooth;
        }
        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none; /* IE and Edge */
            scrollbar-width: none; /* Firefox */
        }

        .circle-gradient-bg {
            background: radial-gradient(
                circle,
                rgba(255, 255, 255, 0.6) 0%,
                rgba(31, 41, 55, 0) 75%
            );
        }
    }
}
