.root {
    height: 100lvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.bachelorsText {
    font-size: 1.1rem;
    font-weight: 600;
    color: #ddd;
    line-height: 1.6;
}

.textContainer {
    position: relative;
    padding: 8rem 10rem;
    border-radius: 50%;
    background: radial-gradient(
        rgba(17, 17, 17, 1) 10%,
        rgba(17, 17, 17, 0.8) 50%,
        rgba(17, 17, 17, 0) 80%
    );
    /* backdrop-filter: blur(2px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-20px);
}

.nameText {
    /* font-family: "Nunito", sans-serif; */
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0 0 1rem 0;
    height: fit-content;
    width: fit-content;
}

.highColor {
    color: dodgerblue;
}

.heroItem {
    /* font-family: "Nunito", sans-serif; */
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.6;
    margin: 0 0 3rem 0;
}

.particlesCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}
